a.btn {
  display: flex;
  // align-items: flex-end;
  height: 28px;
  text-decoration: none;
  color: black;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  transition: color .2s;

  &:hover,
  &:active {
    color: #6D1EFF;

    & > svg {
      fill: #6D1EFF;
    }
  }

  & > span {
    margin-right: 9px;
  }

  & > svg {
    fill: #000;
    margin-top: 3px;
  }
}