a.btn {
  &.btn-search {
    height: 32px;
    width: 32px;

    & > svg {
      margin: 0;
      & > path {
        fill: #000000;
        transition: .2s fill;
      }
    } 

    &:hover,
    &:active {
      & > svg > path {
        fill: #6d1eff;
      }
    }
  }
}
