.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;

  & > &__logo {
    margin-right: auto;
  }

  & > &__login {
    margin-right: 32px;
  }
}