* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.bgc-- {
  &orange {
    background-color: #EE6002;
  }
  &pink {
    background-color: #FF0099;
  }
  &purple {
    background-color: #6D1EFF;
  }
}