* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: #c4c4c4;
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  width: 6px;
  background: transparent;
}

body::-webkit-scrollbar-track-piece {
  width: 6px;
  background: transparent;
}

@font-face {
  font-family: "Jetbrains Mono Normal";
  src: url('./assets/fonts/Jetbrains_Mono/web/woff2/JetBrainsMono-Regular.woff2')
         format('woff2'),
       url('./assets/fonts/Jetbrains_Mono/web/woff/JetBrainsMono-Regular.woff')
         format('woff');
}

// @media (min-width: 1920px) {
//   .makeStyles-mainqwe-7 {
//     background-color: blue;
//   }
// }